<div class="hero">
    <h2>{{ i18n[lang].hero.title }} <span>{{ i18n[lang].hero.title_highlight }}</span></h2>
    <p>{{ i18n[lang].hero.description }}</p>
    <div class="hero-actions">
        <a href="https://my.barassistant.app/register" class="button button--filled">{{ i18n[lang].hero.cta_signup }}</a>
        <a href="https://demo.barassistant.app" target="_blank" class="button">{{ i18n[lang].hero.cta_demo }}</a>
    </div>
</div>
<div class="hero-image">
    <div class="hero-image__wrapper"><img src="/public/img/cocktails.webp" alt="BarAssistant app showing a list of cocktails"></div>
</div>
