<div class="language-switcher">
    <span class="language-switcher__label">{{ i18n[lang].language_switcher.label }}:</span>
    <a href="/" lang="en">English</a>
    &middot;
    <a href="/hr" lang="hr">Hrvatski</a>
</div>