<div class="language-switcher">
    <span class="language-switcher__label">{{ i18n[lang].language_switcher.label }}:</span>
    {% for link in page.url | locale_links %}
        {% if link.lang != lang %}
        <a href="{{ link.url }}" lang="{{ link.lang }}" class="language-switcher__link{% if loop.index == 1 %} language-switcher__link--first{% endif %}">{{ link.label }}</a>
        {% endif %}
    {% endfor %}
</div>