---
layout: layouts/base.njk
title: Privacy policy · All-in-one solution for managing your home bar · Bar Assistant
description: Impress your dinner guests and unleash your inner bartender! Bar Assistant is a new home for all your favorite cocktail recipes and drinks.
showFullNav: false
---

<div class="terms-of-service">
    <h1>Privacy policy</h1>
    <h2>Personal information</h2>
    <ol>
        <li>Bar Assistant actively tries to collect as little personal information data as possible.</li>
        <li>The only personal information that we store is an email address that is needed to create an account.</li>
        <li>You can change your personal information at any time via profile page.</li>
        <li>You can delete your account at any time via profile page and all your personal information will be removed.</li>
    </ol>
    <h2>Non-personal information</h2>
    <ol>
        <li>When you visit the Bar Assistant we might store some information such as your device's IP address.</li>
        <li>We do not store any cookies on your device.</li>
    </ol>
    <h2>Purchases</h2>
    <ol>
        <li>All purchases made through Bar Assistant are processed by a third-party payment processor, Paddle (paddle.com).</li>
        <li>We do not store any payment information like credit card information.</li>
        <li>You can view <a href="https://www.paddle.com/legal/checkout-buyer-terms">Paddle's privacy policy here</a>.</li>
    </ol>
    <h2>Third-party websites</h2>
    <ol>
        <li>Bar Assistant contains links to other websites that are not owned or controlled by us.</li>
    </ol>
</div>
