---
layout: layouts/base.njk
title: Terms of Service · All-in-one solution for managing your home bar · Bar Assistant
description: Impress your dinner guests and unleash your inner bartender! Bar Assistant is a new home for all your favorite cocktail recipes and drinks.
showFullNav: false
---

<div class="terms-of-service">
    <h1>Terms of Service</h1>
    <ul style="margin-top: 1rem;">
        <li>This website and service is operated by: Karlo Mikuš (d/b/a Bar Assistant)</li>
        <li>If you have any questions about these terms, please contact us at: <strong>info@barassistant.app</strong></li>
        <li>We reserve the right to modify these terms of use at any time, without prior notice to you.</li>
        <li>Your continued use of this website after any modifications to these terms of service will constitute your acceptance of such modifications.</li>
    </ul>
    <h2>General use</h2>
    <ol>
        <li>You must be at least 18 years of age to our service.</li>
        <li>You are accountable for maintaining the security of your account and password.</li>
        <li>All activity and content (images, text, links) uploaded under your email and password is your responsibility.</li>
        <li>You can delete your account and stop using it at any time via the actions provided on the profile page.</li>
        <li>Bar Assistant reserves the right, at its sole discretion, to suspend or delete at any time and without notice, any registered accounts which it deems inappropriate, offensive or in violation of these terms.</li>
        <li>Bar Assistant has no obligation to provide dedicated support to specific users.</li>
        <li>Bar Assistant will take all technical measures to try to store your data securely, but is not liable if something goes wrong, and your data is lost.</li>
        <li>Bar Assistant will consider requests to remove data that you find offensive for any reason but we are not obligated to or so or to respond to you directly.</li>
        <li>Bar Assistant reserves the right to block access or terminate our service at any time without prior notice.</li>
    </ol>
    <h2>Subscriptions</h2>
    <ol>
        <li>Subscriptions allow users to receive access to Bar Assistant continuously or regularly over time.</li>
        <li>Subscriptions are automatically renewed through the payment method that the User chose during purchase.</li>
        <li>Users can cancel their subscription at any time via the actions provided on the profile page, or by directly contacting the Service provider.</li>
        <li>Bar Assistant reserves the right to change the subscription fees that we charge for the Service, at any time in our sole discretion, provided that we give you at least thirty days prior notice of such changes.</li>
    </ol>
    <h2>Refund policy</h2>
    <ol>
        <li>Refunds are available within 21 days of purchase.</li>
        <li>If we determine that you have abused the refund policy, you may not be eligible for a refund.</li>
        <li>If you need a refund, you can contact us via email: info@barassistant.app and we will complete the refund process within 5 business days.</li>
        <li>By default, purchases will be refunded to the payment method used to make the purchase, but this may not always be possible depending on the payment method.</li>
    </ol>
    <h2>Privacy</h2>
    <ol>
        <li>We care about data privacy and security. Please review our <a href="/privacy.html">Privacy Policy</a>.</li>
        <li>By using Bar Assistant services, you agree to be bound by our Privacy Policy, which is incorporated into these Terms of Service.</li>
    </ol>
</div>
