---
layout: layouts/base.njk
title: Sveobuhvatno rješenje za upravljanje vašim koktel barom · Bar Assistant
description: Impress your dinner guests and unleash your inner bartender! Bar Assistant is a new home for all your favorite cocktail recipes and drinks.
showFullNav: true
analytics: true
lang: hr
---

{% include "components/hero.njk" %}
<div class="in-page-title">
    <div class="in-page-title__content">
        <h3>{{ i18n[lang].sections.main_features }}</h3>
        <p>{{ i18n[lang].sections.main_features_subtitle }}</p>
    </div>
</div>
<div class="main-features">
    {% include "components/bigFeature.njk" %}
</div>
<div class="in-page-title">
    <div class="in-page-title__content">
        <h3>{{ i18n[lang].sections.more_features }}</h3>
        <p>{{ i18n[lang].sections.more_features_subtitle }}</p>
    </div>
</div>
<div class="features">
    {% include "components/feature.njk" %}
</div>
<div class="in-page-title">
    <div class="in-page-title__content">
        <h3>{{ i18n[lang].sections.choose_plan }}</h3>
        <p>{{ i18n[lang].sections.choose_plan_subtitle }}</p>
    </div>
</div>
<div class="plans">
    {% for plan in plans[lang] %}
    <div class="plans__plan {{ plan.cssClass }}">
        {% if plan.price %}
        <h2>{{ plan.name }}</h2>
        <div class="plans__plan__price">
            <h4>{{ plan.price | safe }}</h4>
            <small>{{ plan.billing }}</small>
        </div>
        {% else %}
        <h3>{{ plan.name }}</h3>
        {% endif %}
        <p>{{ plan.description }}</p>
        <ul>
            {% for feature in plan.features %}
            <li>{{ feature | safe }}</li>
            {% endfor %}
        </ul>
        {% if plan.ctaText %}
        <div class="plans__plan__action">
            <a href="{{ plan.ctaLink }}" class="button {{ plan.ctaClass }}">{{ plan.ctaText }}</a>
        </div>
        {% elif plan.links %}
        <div>
            {% for link in plan.links %}
            <a href="{{ link.url }}">{{ link.text }}</a>{% if not loop.last %} &middot; {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="in-page-title">
    <div class="in-page-title__content">
        <h3>{{ i18n[lang].sections.faq }}</h3>
        <p>{{ i18n[lang].sections.faq_subtitle }}</p>
    </div>
</div>
<div class="page-faq">
    {% for item in faq[lang] %}
    <div class="faq__question">
        <h5>{{ item.question }}</h5>
        <p>{{ item.answer | safe }}</p>
    </div>
    {% endfor %}
</div>
