---
layout: layouts/base.njk
title: Politika privatnosti · All-in-one solution for managing your home bar · Bar Assistant
description: Impress your dinner guests and unleash your inner bartender! Bar Assistant is a new home for all your favorite cocktail recipes and drinks.
showFullNav: false
---

<div class="terms-of-service">
    <h1>Politika privatnosti</h1>
    <h2>Osobne informacije</h2>
    <ol>
        <li>Bar Assistant aktivno pokušava sakupljati minimalan opseg osobnih informacija.</li>
        <li>Jedini osobni podaci koje spremamo su email adresa koja je potrebena za kreiranje osobnog računa.</li>
        <li>Osobne podatke možete promijeniti u svom profilu.</li>
        <li>Vaš osobni račun možete obrisati putem svog profila i mi ćemo obrisati sve vaše podatke sa naših servera.</li>
    </ol>
    <h2>Ostale informacije</h2>
    <ol>
        <li>Tijekom korištenja naših usluga ponekad ćemo spremiti informacije o vašoj IP adresi.</li>
        <li>Ne spremamo web kolačiće na vaš uređaj.</li>
    </ol>
    <h2>Kupovine</h2>
    <ol>
        <li>Sve kupovine se procesuiraju putem sustava Paddle.</li>
        <li>Ne spremamo podatke o plaćanju i nemamo uvid u vaše podatke o kartici.</li>
        <li>Politiku privatnosti sustava za naplaćivanje <a href="https://www.paddle.com/legal/checkout-buyer-terms">možete pogledati ovdje</a>.</li>
    </ol>
    <h2>Ostale stranice</h2>
    <ol>
        <li>Bar Assistant sadrži prečice na druge web stranice koje nisu u našoj nadležnosti.</li>
    </ol>
</div>
