---
layout: layouts/base.njk
title: Uvjeti korištenja · All-in-one solution for managing your home bar · Bar Assistant
description: Impress your dinner guests and unleash your inner bartender! Bar Assistant is a new home for all your favorite cocktail recipes and drinks.
showFullNav: false
---

<div class="terms-of-service">
    <h1>Uvjeti korištenja</h1>
    <ul style="margin-top: 1rem;">
        <li>Ovu web stranicu i uslugu vodi: Karlo Mikuš (d/b/a Bar Assistant)</li>
        <li>Ako imate bilo kakvih pitanja o ovim uvjetima, molimo kontaktirajte nas na: <strong>info@barassistant.app</strong></li>
        <li>Pridržavamo pravo izmjene ovih uvjeta korištenja u bilo kojem trenutku, bez prethodne obavijesti.</li>
        <li>Vaše daljnje korištenje ove web stranice nakon bilo kakvih izmjena ovih uvjeta korištenja smatrat će se vašim prihvaćanjem takvih izmjena.</li>
    </ul>
    <h2>Opća upotreba</h2>
    <ol>
        <li>Morate imati najmanje 18 godina da biste koristili našu uslugu.</li>
        <li>Odgovorni ste za održavanje sigurnosti svog računa i lozinke.</li>
        <li>Sve aktivnosti i sadržaj (slike, tekst, poveznice) preneseni pod vašom e-poštom i lozinkom su vaša odgovornost.</li>
        <li>Svoj račun možete izbrisati i prestati ga koristiti u bilo kojem trenutku putem radnji navedenih na stranici profila.</li>
        <li>Bar Assistant zadržava pravo, prema vlastitom nahođenju, obustaviti ili izbrisati u bilo kojem trenutku i bez prethodne obavijesti sve registrirane račune koje smatra neprikladnima, uvredljivima ili kršećima ove uvjete.</li>
        <li>Bar Assistant nema obvezu pružati namjensku podršku određenim korisnicima..</li>
        <li>Bar Assistant će poduzeti sve tehničke mjere kako bi pokušao sigurno pohraniti vaše podatke, ali ne odgovara ako nešto pođe po zlu i vaši se podaci izgube.</li>
        <li>Bar Assistant će razmotriti zahtjeve za uklanjanje podataka koje smatrate uvredljivima iz bilo kojeg razloga, ali nismo obvezni na to niti vam izravno odgovoriti.</li>
        <li>Bar Assistant zadržava pravo blokirati pristup ili prekinuti našu uslugu u bilo kojem trenutku bez prethodne najave.</li>
    </ol>
    <h2>Pretplate</h2>
    <ol>
        <li>Pretplate omogućuju korisnicima kontinuirani ili redoviti pristup Bar Assistantu.</li>
        <li>Pretplate se automatski obnavljaju putem načina plaćanja koji je Korisnik odabrao prilikom kupnje.</li>
        <li>Korisnici mogu otkazati pretplatu u bilo kojem trenutku putem radnji navedenih na stranici profila ili izravnim kontaktiranjem pružatelja usluge.</li>
        <li>Bar Assistant zadržava pravo izmjene naknada za pretplatu koje naplaćujemo za Uslugu, u bilo kojem trenutku prema vlastitom nahođenju, pod uvjetom da vas o takvim promjenama obavijestimo najmanje trideset dana unaprijed.</li>
    </ol>
    <h2>Povrat novca</h2>
    <ol>
        <li>Povrat novca moguć je u roku od 21 dana od kupnje.</li>
        <li>Ako utvrdimo da ste zloupotrijebili pravila povrata novca, možda nećete imati pravo na povrat novca.</li>
        <li>Ako vam je potreban povrat novca, možete nas kontaktirati putem e-pošte: info@barassistant.app i mi ćemo dovršiti postupak povrata u roku od 5 radnih dana.</li>
        <li>Prema zadanim postavkama, kupnje će biti vraćene na način plaćanja koji je korišten za kupnju, ali to možda neće uvijek biti moguće ovisno o načinu plaćanja.</li>
    </ol>
    <h2>Privatnost</h2>
    <ol>
        <li>Brinemo o privatnosti i sigurnosti podataka. Pogledajte <a href="/hr/privacy">našu politku privatnost</a>.</li>
        <li>Korištenjem usluga pomoćnika u baru pristajete na našu Politiku privatnosti, koja je uključena u ove Uvjete korištenja usluge.</li>
    </ol>
</div>
